html,
body {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
h1 {
	padding: 0.2em 0;
	margin: 0.2em 0;
	margin-top: 0.4em;
	text-align: center;
	font-size: 2em;
	background-color: #ffffffaa;
	backdrop-filter: blur(8px);
}

.text-grid {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	font-family: Consolas, monospace;
	cursor: none;
	background-color: #111111ee;
	backdrop-filter: blur(12px);
	color: #c6c6c6;
	user-select: none;
	padding: 1.6em;
}
.text-grid-row {
	display: flex;
}
.text-grid-item {
	width: 0.6em;
	height: 1.4em;
	background-color: color-mix(in oklab, transparent 70%, var(--selection-color) 30%);
}
.text-grid-item[data-selected="true"] {
	--selection-color: #646cff;
}
.text-grid-item[data-selected="self"] {
	--selection-color: #309e0e;
}
.text-grid-item:hover {
	backdrop-filter: brightness(0.8);
	filter: brightness(0.8);
}

#hidden-input {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

@media (prefers-color-scheme: light) {
	.text-grid {
		background-color: #f6f6f6ee;
		color: #111111;
	}
}

.online {
	padding: 0.2em 0.6em;
	margin: 0.4em 0.4em;
	text-align: center;
	font-size: 2em;
	background-color: #ffffffaa;
	backdrop-filter: blur(8px);
	width: fit-content;
	margin-left: auto;
}

.online p {
	margin: 0;
}

.online span {
	font-weight: bold;
}